#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.coverage
.DS_Store

*.xls
*.csv

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
